h3 {
    display:block;
    font-size:30px;
    -webkit-margin-before:1em;
    -webkit-margin-after:1em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight:700;
    color:#F14C23;
    font-family:'Open Sans',sans-serif
}

#HCB_comment_box blockquote {
    color:#141823;
    font-family:'Open Sans',sans-serif
}

#HCB_comment_box {
    color:#4C585F
}

#HCB_comment_box .comment {
    background-color:#f8f8f8;
    color:#F14C23;
    border-bottom:1px solid #ccc;
    font-family:'Open Sans',sans-serif;
    font-size:26px;
    border:solid 1px #dfdfdf;
    padding:1em;
    font-weight:300
}