h3 {
    display:block;
    font-size:30px;
    -webkit-margin-before:1em;
    -webkit-margin-after:1em;
    -webkit-margin-start:0;
    -webkit-margin-end:0;
    font-weight:700;
    text-decoration:underline
}

#HCB_comment_box blockquote {
    color:#383838;
    font-family: 'Open Sans', sans-serif;
}

#HCB_comment_box {
    color:#fff
}

#HCB_comment_box .comment {
    background-color:#f8f8f8;
    color:#3b5998;
    border-bottom: 1px solid #ccc;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
    font-size:26px;
    border:solid 1px #dfdfdf;
    padding: 1em;
}

#HCB_comment_box .hcb-icon {
    opacity:
}

