body {
    background-image:url(background.jpg);
    background-repeat:repeat;
    font-family:Helvetica,Arial,Verdana,sans-serif
}

#counter {
    font-size:1.7vw;
    float:right;
    padding-top:1%;
    padding-right:1%;
}

#counter a {
    text-decoration:none;
    color:#FFF;
    padding:.5em;
    background:#FE0000
}

#counter a:hover {
    color:#fd1a93;
    background:#55BADA;
    transition:.4s
}

#online {
    font-size:1.7vw;
    float:right;
    padding-top:2%;
    padding-right:1%;
    clear:both;
}

#online a {
    text-decoration:none;
    color:#FFF;
    padding:.5em;
    background:#FE0000
}

#online a:hover {
    color:#fd1a93;
    background:#55BADA;
    transition:.4s
}

#text {
    padding-top:25%;
    text-align:center;
    font-size:4vw;
}

#text a {
    text-decoration:none;
    color:#FFF;
    padding:.5em;
    background:#FE0000
}

#text a:hover {
    background:#55BADA;
    transition:.4s;
    color:#fd1a93
}

