body {
    background-image:url(hymes1.jpg);
    background-size:816px 612px;
    background-repeat:repeat;
    font-family:tahoma
}

#counter a {
    text-decoration:none;
    color:#FFF;
    padding:.5em;
    background:#FE0000
}

#counter a:hover {
    color:#fd1a93;
    background:#55BADA;
    transition:.4s
}

#counter {
    font-size:28px;
    float:right;
    padding-top:1%
}

#text {
    padding-top:390px;
    text-align:center;
    font-size:72px
}

#text a {
    text-decoration:none;
    color:#FFF;
    padding:.5em;
    background:#FE0000
}

#text a:hover {
    color:#FFF;
    background:#FE0000
}