/*

Coded by Alex Johnson
Hosted on Github

*/
html {
    max-width:80%;
    margin:0 auto;
    height:100%
}

body {
    margin:0;
    padding:0;
    background-repeat:repeat;
    background-color:#BFBFBF
}

#header {
    background-color:#30393F;
    padding-bottom:2em
}

logo {
    color:#E5E5E5;
    font-family:'Righteous',cursive;
    font-size:78px;
    font-weight:900;
    display:inline-block;
    margin:1% 0 1% 1%
}

.middlecontainer {
    text-align:center;
    color:#4C585F;
    font-family:'Righteous',cursive;
    font-size:60px
}

.middlecontainer p {
    margin-top:3%
}

#form {
    margin:150px 0;
    background-color:#fff;
    padding:2em;
    border:1px solid;
    border-color:#e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius:3px;
    -webkit-box-shadow:5px 4px 21px -1px rgba(0,0,0,0.6);
    -moz-box-shadow:5px 4px 21px -1px rgba(0,0,0,0.6);
    box-shadow:5px 4px 21px -1px rgba(0,0,0,0.6)
}

#form a {
    opacity:0
}

#form a:hover {
    text-decoration:underline
}